:root {
    --redhatdisplay-font: var(--font-sans, "RedHatDisplay", sans-serif);
}

.redhatdisplay-300,
.redhatdisplay-400,
.redhatdisplay-500,
.redhatdisplay-600,
.redhatdisplay-700 {
    font-family: var(--redhatdisplay-font);
    font-style: normal;
}

.redhatdisplay-300 {
    font-weight: 300;
}

.redhatdisplay-400 {
    font-weight: 400;
}

.redhatdisplay-500 {
    font-weight: 500;
}

.redhatdisplay-600 {
    font-weight: 600;
}

.redhatdisplay-700 {
    font-weight: 700;
}

body {
    font-family: var(--redhatdisplay-font);
}