:root {
    --rubik-font: var(--font-sans, "Rubik", sans-serif);
}

.rubik-300,
.rubik-400,
.rubik-500,
.rubik-600,
.rubik-700 {
    font-family: var(--rubik-font);
    font-style: normal;
}

.rubik-300 {
    font-weight: 300;
}

.rubik-400 {
    font-weight: 400;
}

.rubik-500 {
    font-weight: 500;
}

.rubik-600 {
    font-weight: 600;
}

.rubik-700 {
    font-weight: 700;
}

body {
    font-family: var(--rubik-font);
}
